<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thm.ap.androidfacebookinterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFacebookInterface">
        <activity
            android:name=".PostDetailActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            />

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/home_activity"
            android:parentActivityName=".MainActivity" />
        <!--
Changer le nom de l'activite ds la barre de menu
            Avoir la fleche de retour pr revenir a
            L'activite precedente
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>